@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?k4qzes');
  src:  url('../fonts/icomoon.eot?k4qzes#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?k4qzes') format('truetype'),
    url('../fonts/icomoon.woff?k4qzes') format('woff'),
    url('../fonts/icomoon.svg?k4qzes#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
  color: #ccc;
}
.icon-bean:before {
  content: "\e901";
  color: #f5a623;
}
.icon-book:before {
  content: "\e902";
  color: #ad8fff;
}
.icon-bookcase:before {
  content: "\e903";
  /*color: #8b8b8b;*/
}
.icon-camera:before {
  content: "\e904";
  /*color: #139cea;*/
}
.icon-circle:before {
  content: "\e905";
  /*color: #8b8b8b;*/
}
.icon-clock:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-code:before {
  content: "\e908";
  /*color: #cdcdcd;*/
}
.icon-coin .path1:before {
  content: "\e909";
  color: rgb(38, 36, 53);
}
.icon-coin .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 234, 59);
}
.icon-coin .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 234, 59);
}
.icon-coin .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 234, 59);
}
.icon-concern:before {
  content: "\e90d";
}
.icon-del:before {
  content: "\e90e";
}
.icon-discuss:before {
  content: "\e90f";
}
.icon-epslist:before {
  content: "\e910";
  // color: #a8a8a8;
}
.icon-epsvip:before {
  content: "\e911";
  /*color: #6ad6be;*/
}
.icon-feedback:before {
  content: "\e912";
  color: #6ad6be;
}
.icon-good:before {
  content: "\e913";
}
.icon-goodfinish:before {
  content: "\e914";
  // color: #31c27c;
}
.icon-history:before {
  content: "\e915";
  color: #9dc1d1;
}
.icon-hot:before {
  content: "\e916";
  color: #e26886;
}
.icon-index:before {
  content: "\e917";
  /*color: #8b8b8b;*/
}
.icon-left:before {
  content: "\e918";
}
.icon-medal:before {
  content: "\e919";
}
.icon-message:before {
  content: "\e91a";
  color: #1296db;
}
.icon-money:before {
  content: "\e91b";
  color: #fa5e2e;
}
.icon-my:before {
  content: "\e91c";
  /*color: #8b8b8b;*/
}
.icon-mycircle:before {
  content: "\e91d";
  color: #ad8fff;
}
.icon-order .path1:before {
  content: "\e91e";
  color: rgb(19, 156, 234);
}
.icon-order .path2:before {
  content: "\e91f";
  margin-left: -0.8818359375em;
  color: rgb(204, 204, 204);
}
.icon-order .path3:before {
  content: "\e920";
  margin-left: -0.8818359375em;
  color: rgb(19, 156, 234);
}
.icon-password:before {
  content: "\e921";
  color: #cdcdcd;
}
.icon-pen:before {
  content: "\e922";
  color: #b2b2b2;
}
.icon-rank .path1:before {
  content: "\e923";
  color: rgb(146, 137, 240);
}
.icon-rank .path2:before {
  content: "\e924";
  margin-left: -1.3115234375em;
  color: rgb(255, 215, 120);
}
.icon-rank .path3:before {
  content: "\e925";
  margin-left: -1.3115234375em;
  color: rgb(251, 149, 44);
}
.icon-rank .path4:before {
  content: "\e926";
  margin-left: -1.3115234375em;
  color: rgb(251, 129, 58);
}
.icon-right:before {
  content: "\e927";
}
.icon-search:before {
  content: "\e928";
  color: #fff;
}
.icon-share:before {
  content: "\e929";
}
.icon-sharearrow:before {
  content: "\e92a";
  color: #ccc;
}
.icon-task:before {
  content: "\e92b";
  color: #6ed5de;
}
.icon-tel:before {
  content: "\e92c";
  /*color: #139cea;*/
}
.icon-threedian:before {
  content: "\e92d";
  /*color: #696969;*/
}
.icon-video:before {
  content: "\e92e";
  color: #959595;
}
.icon-vip:before {
  content: "\e92f";
  /*color: #cdcdcd;*/
}
